TEST/switch-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:l2sw="http://sudhin.com" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/home/sudhin/.local/bin/../share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://sudhin.com"><start><optional><element name="l2sw:switch"><interleave><optional><element name="l2sw:hostname"><data type="string"/></element></optional><zeroOrMore><element name="l2sw:interface"><element name="l2sw:name"><data type="string"/></element><interleave><optional><element name="l2sw:description"><data type="string"/></element></optional><optional><element name="l2sw:speed"><data type="unsignedInt"/></element></optional></interleave></element></zeroOrMore></interleave></element></optional></start></grammar></interleave></element></start></grammar>
