TEST/switch-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:l2sw="http://sudhin.com" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/home/sudhin/.local/bin/../share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="http://sudhin.com"><start><optional><element name="l2sw:switch"><interleave><optional><element name="l2sw:hostname"><data type="string"/></element></optional><zeroOrMore><element name="l2sw:interface"><element name="l2sw:name"><data type="string"><param name="pattern">.*Ethernet0/[0-9]+</param></data></element><interleave><optional><element name="l2sw:description"><data type="string"><param name="minLength">4</param><param name="maxLength">50</param></data></element></optional><optional><element name="l2sw:speed"><data type="unsignedInt"/></element></optional><optional><element name="l2sw:mode"><choice><value>access</value><value>trunk</value></choice></element></optional><optional><choice><choice><empty/><group><element name="l2sw:access-vlan"><data type="unsignedShort"><param name="minInclusive">1</param><param name="maxInclusive">4094</param></data></element></group></choice><choice><empty/><group><zeroOrMore><element name="l2sw:trunked-vlan"><data type="unsignedShort"><param name="minInclusive">1</param><param name="maxInclusive">4094</param></data></element></zeroOrMore></group></choice></choice></optional></interleave></element></zeroOrMore></interleave></element></optional></start></grammar></interleave></element></start></grammar>
